<ion-header>

  <ion-navbar color="primary" style="text-align: center">
    <ion-title>Invisibox Manager</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="centered-dialog" *ngIf="!isLoggedIn()">
      <h4 class="transparent">Please login to manage your Invisiboxes</h4>
      <button round (click)="login()" ion-button full color="secondary">Login with Google+</button>
  </div>
  <div class="centered-dialog" *ngIf="isLoggedIn() && invisiboxes.length==0">
      <h4 class="transparent">
        Seems like you don't have any Invisiboxes... 
        Create one now by clicking on the plus button at the
        bottom-right of the screen.
      </h4>
  </div>

  <div  *ngIf="isLoggedIn() && invisiboxes">
    <ion-list inset>
      <button ion-item *ngFor="let invisibox of invisiboxes" (click)="loadInvisibox(invisibox)">
        {{ invisibox.title }}
      </button> 
    </ion-list>
  </div>
  <div *ngIf="isLoggedIn()">
    <ion-fab bottom right>
      <button ion-fab color="danger" (click)="addInvisibox()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </div>
</ion-content>