<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Invisibox Creator</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <h4 class="input-title">Name</h4>
  <ion-input  [(ngModel)]="title" type="text" placeholder="Enter your Invisibox's name..."></ion-input>
  <h4 class="input-title">Slides</h4>
  <ion-card *ngFor="let slide of slides">
    <img class="rounded"src="{{slide.base64Img}}"/>
    <div *ngIf="slide" class="card-title">{{slide.title}}</div>
  </ion-card>
  <div style="text-align:center;">
    <button (click)="addSlide()" ion-button end>Add Slide</button>
  </div>
</ion-content>

<ion-footer padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button full (click)="close()" ion-button color="light" round>Cancel</button>
      </ion-col>
      <ion-col >
        <button full (click)="submit()" ion-button color="secondary" round>Save</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>