<ion-header>
  <ion-navbar>
    <ion-title>General Information</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      General
    </ion-list-header>
    <ion-item>
      <ion-input [(ngModel)]="title"type="text" placeholder="Title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="wikipediaUrl" type="text" placeholder="Wikipedia URL"></ion-input>
    </ion-item>

    <ion-list-header>
      Fun Facts
    </ion-list-header>
    <ion-item *ngFor="let funFact of funFacts">{{funFact | truncate: ['50']}}</ion-item>
    <ion-item>
        <button (click)="addFunFact()" ion-button item-right>Add Fun Fact</button>
    </ion-item>
    <ion-list-header>
      Images
    </ion-list-header>
    <ion-item *ngFor="let img of images">
          <ion-card>
            <img src="{{img}}"/>
          </ion-card>
    </ion-item>
    <ion-item>
        <button (click)="captureImage()" ion-button item-right>Capture Image</button>
    </ion-item>
  </ion-list>
  <button (click)="submit()" ion-button color="secondary" full>Submit</button>
</ion-content>