<ion-header>
  <ion-navbar hideBackButton *ngIf="invisibox && invisibox.title" color="primary" style="text-align: center">
    <ion-title >{{invisibox.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager>
    <ion-slide class="full-page-slide" *ngFor="let slide of slides">
      <div style="text-align: center;">
        <h1 style="font-size: 24pt;">{{slide.title}}</h1>
      </div>
      <div class="image-wrapper">
        <img (click)="openViewer(slide.base64Img)" src="{{slide.base64Img}}" (load)="loadNextSlide()"/>
      </div>
      <p>{{slide.textContent}}</p>
    </ion-slide>

    <ion-slide >
        <button (click)="finish()" ion-button color="secondary" full>Finish</button>
        <button (click)="share()" ion-button color="primary" full>Share</button>
    </ion-slide>

  </ion-slides>
</ion-content>
